<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://cos.pgyer.com/660ca5de1d87bff427c7772f3db3f9d0.ipa?sign=1a41adfcd8f4dd0bf11e168cd9932ad6&t=1666343047&response-content-disposition=attachment%3Bfilename%3D%E5%8C%97%E8%88%AA%E4%BA%91%E7%9B%98_6.0.167.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://bhpan.buaa.edu.cn/image.57×57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://bhpan.buaa.edu.cn/image.512×512.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>edu.buaa.bhpan</string>
				<key>bundle-version</key>
				<string>6.0.167</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>北航网盘</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
